.profile-tabs {
  width: 100%;
  border-bottom: 1px solid #dee2e6 !important;
  & > a {
    color: rgba(0, 0, 0, 0.5);
  }
}

.tab-content {
  width: 100%;
}

.nav-pills > .nav-link.active {
  color: #FFF !important;
}