.post {
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(196, 222, 255, 0.5);
}

.post:last-child {
  border-bottom: none;
}

.post__author:hover {
  text-decoration: none;
}

.post__body:hover {
  cursor: pointer;
}

.author__username {
  color: #888;
}

.author__username:hover {
  color: #666;
}