.my-navbar {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.my-btn {
  margin: 0.2rem 0;
  border-radius: 50px !important;
}

#menu:hover {
  cursor: pointer !important;
}

.nav-link {
  &__menu {
    display: flex !important;
    align-items: center;
    &.active {
      color: rgb(79, 145, 228) !important;
    }
  }
}